<div class="component-body">

    <div id="reset-password">
        <div class="container">
            <div id="link-message"><p> </p></div>
            <div class="col">
                <h3 class="center grec">Reset your password</h3>
                <div class="mb-3"> 
                    <input type="text" name ="email" id="email" [formControl]="fc" class="form-control" placeholder="Email Address">
                </div>
                
                <div class="mb-3 row">
                    <div class="offset-sm-2 col-sm-8 center">
                        <button type="submit" (click)="getEmail()" class="btn btn-success">Request Reset Link</button><br><br>
                        <div class="center"><a routerLink="/login" style="color: green;">Return to Log In</a></div>
                    </div>
                
                </div>
        </div>
    </div>

</div>