
#reset-password{
    height:80vh;
    background-color: white;
    text-align: center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
#link-message{
    color: black;
    
}
.col{
    width: 50%;  
    margin-left: 25%;
}

@media screen and (max-width: 700px) {
    .col{
        width: 100%;
        margin-left: 0%;
    }
}