<div class="component-body">
    <div id="loginPage">
    <div class="div-login">
        <div class="imgcontainer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        </div>

        <div id="errorLogin" *ngIf="error" style="color: red;text-align:center; font-size:1.4em;"> *Incorrect Username or Password!</div>
        <div class="container">
        <div>
            <span class="psw">
             <a routerLink="/register">S'enregistrer</a>
            </span>
        </div>
        <form (ngSubmit)="log()" [formGroup]="form">
        <label for="uname"><b>Nom Utilisateur</b></label>
        <input type="text" placeholder="Enter Username" name="uname" formControlName="username">

        <label for="psw"><b>Mot De Passe</b></label>
        <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
            
        <button type="submit" id="loginButton">Login</button>
        </form>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" href="javascript:void(0)" [routerLink]="['/home']">Cancel</button>
            <span class="psw">
                <a routerLink="/password/reset">Mot de Passe Oublié?</a>
            </span>
        </div>
    </div>
    </div>
</div>


