<div class="component-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-7 col-lg-5">
        <div class="card shadow-sm border-0 my-4 my-md-5">
          <div class="card-body p-4 p-md-5">

            <h1 class="page-title text-center">Reset your password</h1>

            <div id="password-change" class="text-center mb-3"><p> </p></div>

            <form (ngSubmit)=" resetPassword()" [formGroup]="form">
              <div class="mb-3">
                <label for="email" class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Email Address" name="email" id="email" formControlName="email">
              </div>

              <div class="mb-3">
                <label for="psw" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="psw" id="psw" formControlName="password">
              </div>

              <div class="mb-3">
                <label for="confPsw" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Repeat password" name="confPsw" id="confPsw" formControlName="confirmPassword">
              </div>

              <button type="submit" class="btn btn-success w-100">Reset Password</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
