<div class="component-body">
    
    <div class="container">
    <h3 class="center grec">Reset your password</h3>
      <div id="password-change"><p> </p></div>
      <form (ngSubmit)=" resetPassword()" [formGroup]="form">
            <label for="email"><b>Username</b></label>
            <input type="text" placeholder="Email Address" name="email" formControlName="email">
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
        
            <label for="confPsw"><b>Password</b></label>
            <input type="password" placeholder="Repeat password" name="confPsw" formControlName="confirmPassword">
            
                
            <button type="submit" id="loginButton">Reset Password</button>
        
        </form>
    </div>
</div>
