<div class="component-body">
    <div class="container mt-5 p-5 pt-1">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <h2 class="text-center mb-4">Données Utilisateur</h2>
            
            <div class="mb-3">
              <label for="email" class="form-label">Adresse Email</label>
              <input 
                type="email" 
                class="form-control" 
                id="email" 
                formControlName="email" 
                placeholder="Entrer Une Addresse Email">
              <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                Entrer Une Addresse Email Valide
              </div>
            </div>
            
            <div class="mb-3">
              <label for="firstName" class="form-label">Prénom</label>
              <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                formControlName="firstName" 
                placeholder="Prénom">
              <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="text-danger">
                Entrer Le Prénom.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="lastName" class="form-label">Nom</label>
              <input 
                type="text" 
                class="form-control" 
                id="lastName" 
                formControlName="lastName" 
                placeholder="Nom">
              <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" class="text-danger">
               Nom
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Mot De Passe</label>
              <input 
                type="password" 
                class="form-control" 
                id="password" 
                formControlName="password" 
                placeholder="Choisir Un Mot De Passe">
              <div *ngIf="userForm.get('password')?.invalid   && userForm.get('password')?.touched" class="text-danger">
                Mot De Passe Invalide.
              </div>
            </div>

            <div class="mb-3">
              <label for="repeat" class="form-label">Repéter Mot De Passe</label>
              <input 
                type="password" 
                class="form-control" 
                id="repeat" 
                formControlName="repeat" 
                placeholder="Repéter Le Mot De Passe" 
                (blur)="check()">
              <div *ngIf="notCoinciding && userForm.get('repeat')?.touched" class="text-danger">
                Les Mots De Passe ne coincident pas.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select 
                class="form-select" 
                id="role" 
                formControlName="role">
                <option value="" disabled>Choisir Un Role</option>
                <option value="ADMIN">ADMIN</option>
                <option value="OPERATOR">OPERATEUR</option>
              </select>
              <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="text-danger">
                Choisir Un Role.
              </div>
            </div>
            
            <div class="d-grid">
              <button type="submit" class="btn btn-success" [disabled]="userForm.invalid || notCoinciding">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  