<div class="card-gr">
    <div class="card h-100" style="padding: 10px;">
        <!-- Optional Heart Icon -->
        <!-- <a (click)="changeHeartColor()" id={{item.name}} class="position-absolute top-0 end-0 p-2">
            <i class='far fa-heart' style='font-size:24px;'></i>
        </a> -->
        <img
            class="card-img-top mx-auto d-block"
            src="{{picture}}"
            (click)="viewDetails()"
            alt="Card image cap"
            style="width:100% ; height: 150px; object-fit: contain; margin-top: 5px;"
        >
        <div class="card-body text-center">
            <h5>{{item.name}}</h5>
            <p class="card-title">{{item.category}} <strong>{{item.brand}}</strong></p>
            <p class="card-text" style="white-space: nowrap;"><strong>Code Modèle: </strong>{{item.code}}</p>

            <p class="card-text" *ngIf="item.discount > 0">
                <strong>Prix: </strong>
                <em style="text-decoration: line-through; color: grey; white-space: nowrap;">{{item.sizes[0].price | customCurrency}}</em>
                <strong style="color: rgba(255, 123, 0, 0.781); white-space: nowrap;"> {{item.sizes[0].price * (1 - item.discount / 100) | customCurrency }}</strong><br/>
                <em style="color: red; white-space: nowrap;">discount: {{item.discount}}%</em>
            </p>

            <p class="card-text" *ngIf="item.discount == 0">
                <strong>Prix: </strong>
                <strong style="color: rgba(255, 123, 0, 0.781);">{{item.sizes[0].price | customCurrency }}</strong>
                <br>
                <em style="visibility: hidden;">discount:{{item.discount}}%</em>
            </p>
            
            <hr>
            <button type="submit" class="btn btn-success" (click)="viewDetails()">Détails</button>
        </div>
    </div>
</div>
