/* You can add global styles to this file, and also import other style files */



body {
    display: block;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }

  #carouselExample {
    height: 400px;
  }
  

  /* Enable dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Ensure proper positioning */
}

.navbar-nav .dropdown-toggle::after {
  display: none; /* Remove the toggle icon */
}

.nav-link{
  padding: 10px 0px;
  font-size: 1.5em;
  margin-left: 20px;
}

.dropdown-item:hover{
  background-color: lightgrey;
}






