/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';



body {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Merriweather', sans-serif;
  }

  .navbar{
    color: white;    
    z-index:10;

  }
  a.nav-link {
    color: white !important;
    text-align: center;
    background-color: black;
    margin-right: 10px;
  }




.component-body{
  min-height: 95vh;
  background-color: white;
  padding: 10px;
  /* margin-top: 60px; */
}

.carousel-inner {
  height: 100%; /* Ensure carousel takes full height */
}

.carousel-item {
  height: 100%; /* Ensure each carousel item takes full height */
}

.carousel-item img {
  height: 100%; /* Make image height 100% of its parent */
  width: auto; /* Allow width to adjust while maintaining aspect ratio */
  object-fit: cover; /* Ensure the image fits within the container */
}


.footer{
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}

.msg-accueil{
  position: absolute;
  top:30vh;
  width: 60%;
  margin-left: 20%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.img-accueil{
  height: 40vh;
  background-image: url('./assets/images/img1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.msg-btn{
  min-height: 60px;
  box-shadow: 2px 3px black;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}


#phn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  background-color:  rgb(208, 229, 248);
}

#cart-icon{
  float:left ;
}

.ngx-pagination .current{
  background-color: green !important;
}










html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media screen and (max-width: 700px) {


  .component-body{
    min-height: 80vh;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-x: hidden;

  }
}