<div class="component-body">
    <div id="itemUpdate">
        <h1>Articles</h1>


     <!-- Button trigger modal -->
  <button id="modalButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Effacer Le Modèle
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="font-size: 0.85em" >
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <p style="font-size: 1.3em">Effacer Le modèle Du Catalogue?</p>
              <button class="btn btn-danger me-3" (click)="delete()" >OUI</button>
              <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">NON</button>
          </div>
                
          </div>
      </div>
      </div>
  </div>
    
        
    
    <div class="container" *ngIf="loaded">
        <form [formGroup]="clothProductForm" (ngSubmit)="saveProduct()" class="container mt-4">
    
            <div class="row">

              <div class="col-md-4 mb-3">
                <label for="code" class="form-label">Code Modèle</label>
                <input 
                formControlName="code" 
                id="code" 
                type="text" 
                class="form-control" 
                placeholder="Entrer Code Modèle">
              </div>

                <div class="col-md-4 mb-3">
                    <label for="name" class="form-label">Nom</label>
                    <input 
                    formControlName="name" 
                    id="name" 
                    type="text" 
                    class="form-control" 
                    placeholder="Enter Product Name">
                    <div *ngIf="clothProductForm.get('name')?.invalid && clothProductForm.get('name')?.touched" class="text-danger">
                        Le Nom Est Obligatoire
                    </div>
                </div>
          
                <div class="col-md-4 mb-3">
                    <label for="brand" class="form-label">Marque</label>
                    <input 
                    formControlName="brand" 
                    id="brand" 
                    type="text" 
                    class="form-control" 
                    placeholder="Enter Product Brand">
                </div>
            </div>
    
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea 
                formControlName="description" 
                id="description" 
                class="form-control" 
                placeholder="Enter product description"></textarea>
              <div *ngIf="clothProductForm.get('description')?.invalid && clothProductForm.get('description')?.touched" class="text-danger">
                La Description Est Obligatoire
              </div>
            </div>
    
          
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="cost" class="form-label">Coût</label>
                <input 
                  formControlName="cost" 
                  id="cost" 
                  type="number" 
                  class="form-control" 
                  placeholder="prix d'achat">
                <div *ngIf="clothProductForm.get('cost')?.invalid && clothProductForm.get('cost')?.touched" class="text-danger">
                  Le coût doit être supérieur à 0
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="discount" class="form-label">Réduction (%)</label>
                <input 
                  formControlName="discount" 
                  id="discount" 
                  type="number" 
                  class="form-control" 
                  placeholder="Enter discount percentage">
                <div *ngIf="clothProductForm.get('discount')?.invalid && clothProductForm.get('discount')?.touched" class="text-danger">
                  La Réduction Doit Se Situer Entre 0 Et 100
                </div>
              </div>
          
              <div class="col-md-4 mb-3">
                <label for="sex" class="form-label">Sexe</label>
                <select formControlName="sex" id="sex" class="form-select">
                  <option value="MALE">Masculin</option>
                  <option value="FEMALE">Feminin</option>
                  <option value="UNISEX">Unisex</option>
                </select>
              </div>
            </div>
          
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="category" class="form-label">Categorie</label>
                    <input 
                      formControlName="category" 
                      id="category" 
                      type="text" 
                      class="form-control" 
                      placeholder="Enter product category">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="color" class="form-label">Couleur</label>
                  <input 
                    formControlName="color" 
                    id="color" 
                    type="text" 
                    class="form-control" 
                    placeholder="Entrer La Couleur">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="available" class="form-label">Disponibilité</label>
                    <select formControlName="available" id="available" class="form-select">
                      <option value="true">OUI</option>
                      <option value="false">NON</option>
                    </select>
                </div>

            </div>
            
          
            <div class="mb-3">
              <label for="sizes" class="form-label">Tailles</label>
              <div formArrayName="sizes">
                <div *ngFor="let size of sizes.controls; let i = index" class="row mb-2 d-flex justify-content-center">
                  <div [formGroupName]="i" class="col-md-2">
                    Nom
                    <input 
                      formControlName="name" 
                      type="text" 
                      class="form-control" 
                      placeholder="Taille (e.g. S, M, L)">
                  </div>
                  <div [formGroupName]="i" class="col-md-2">
                    Quantité Store
                    <input 
                      formControlName="quantity" 
                      type="number" 
                      class="form-control" 
                      placeholder="Quantité">
                    Quantité Magasin
                    <input style="margin-top: 0px;"
                    formControlName="magasin" 
                    type="number" 
                    class="form-control" 
                    placeholder="">
                  </div>
                  <div [formGroupName]="i" class="col-md-2">
                    Prix
                    <input 
                      formControlName="price" 
                      type="number" 
                      class="form-control" 
                      placeholder="Prix">
                  </div>
                  <div [formGroupName]="i" class="col-md-2">
                    Store
                    <input 
                      formControlName="location" 
                      type="text" 
                      class="form-control" 
                      placeholder="Emplacement">
                  </div>
                  <div class="col-md-2 mt-2">
                    <button type="button" class="btn btn-danger" (click)="removeSize(i)">Eliminer</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="addSize()">Ajouter Une Taille</button>
            </div>
          
            <button type="submit" class="btn btn-success" [disabled]="!clothProductForm.valid">Sauvegarder Les Modifications</button>
          </form>
    
      </div>





    
    <p>Click on the "Choose File" button to upload images for your item:</p>
    
    <input type="file" #myFile name="filename" (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg">
    <button (click)="onUpload()"> send file</button>
    
    <div id="images">
        
        <div *ngFor="let pic of item.pictures; let i= index" class="image" >
            <a href="javascript:void(0)" (click)="updateMain(i)" >image principale</a>
            <img src={{pic.url}} alt=""  (click)="show(pic.url)">
            <button id="modalButton" type="button" (click)="imageToDeleteIndex=i" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeletePic">
              Effacer
            </button>
            
        </div>
    </div>
    <hr>
    <p style="font-size:1.2em;">Image principale</p>
    <div id="main" >
        <img src={{mainPhoto}} (click)="show(mainPhoto)" alt="">
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="DeletePic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="font-size: 0.85em" >
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <p style="font-size: 1.3em">Effacer L'image ?</p>
                <button class="btn btn-danger me-3" (click)="deletePic()" data-bs-dismiss="modal" aria-label="Close" >OUI</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">NON</button>
            </div>
                  
            </div>
        </div>
        </div>
    </div>
    
    </div>
</div>
