<div class="component-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card shadow-sm border-0 my-4 my-md-5">
          <div class="card-body p-4 p-md-5">

            <form [formGroup]="form" (ngSubmit)="confirm()">
              <h1 class="page-title text-center">Register</h1>
              <p class="text-center text-muted">Please fill in this form to create an account.</p>
              <hr class="my-4">

              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input (change)="leave('firstName')" type="text" class="form-control" placeholder="Enter First Name" name="firstName" id="firstName" formControlName="firstName">
                <em id="firstName-error" class="text-danger small fst-normal" style="display: none;">Invalid first name</em>
              </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input (change)="leave('lastName')" type="text" class="form-control" placeholder="Enter Last Name" name="lastName" id="lastName" formControlName="lastName">
                <em id="lastName-error" class="text-danger small fst-normal" style="display: none;">Invalid last name</em>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input (change)="leave('email')" type="text" class="form-control" placeholder="Enter Email" name="email" id="email" formControlName="email">
                <em id="email-error" class="text-danger small fst-normal" style="display: none;">Invalid email</em>
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <div class="row g-2">
                  <div class="col-4">
                    <select class="form-select" name="code" id="code" formControlName="code">
                      <option selected>Select country</option>
                      <option value="{{country.code}}" *ngFor="let country of countries"> {{country.name}} ({{country.code}})</option>
                    </select>
                  </div>
                  <div class="col-8">
                    <input (change)="leave('phone')" type="text" class="form-control" placeholder="Enter Phone Number" name="phone" id="phone" formControlName="phone">
                  </div>
                </div>
                <em id="phone-error" class="text-danger small fst-normal" style="display: none;">Invalid phone number</em>
              </div>

              <div class="mb-3">
                <label for="psw" class="form-label">Password</label>
                <input (change)="leave('psw')" type="password" class="form-control" placeholder="Enter Password" name="psw" id="psw" formControlName="psw">
                <em id="psw-error" class="text-danger small fst-normal" style="display: none;">The password should be long at least 6 characters</em>
              </div>

              <div class="mb-3">
                <label for="psw-repeat" class="form-label">Repeat Password</label>
                <input (change)="leave('psw-repeat')" type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" formControlName="psw-repeat">
                <em id="psw-repeat-error" class="text-danger small fst-normal" style="display: none;">The passwords don't coincide</em>
              </div>

              <hr class="my-4">
              <p class="small text-muted">By creating an account you agree to our <a href="#" class="link-success">Terms &amp; Privacy</a>.</p>

              <button type="submit" class="btn btn-success w-100" [disabled]="!form.valid">Register</button>

              <p class="text-center mt-3 mb-0">Already have an account? <a href="javascript:void(0)" [routerLink]="['/login']" class="link-success">Sign in</a>.</p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
